/* * {
    margin: 0;
    padding: 0;
} */

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Segoe UI", "Roboto", arial, sans-serif;
  overflow: scroll;
}

nav {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
  /* Поля вокруг текста */
  background: rgb(146, 255, 155);
  position: fixed;
  /* Фиксированное положение */
  right: 10px;
  /* Расстояние от правого края окна браузера */
  top: 5px;
  /* Расстояние сверху */
  position: absolute;
}

nav a {
  color: rgb(51, 51, 51);
  outline: none;
  padding: 8px;
  font-size: 13px;
  text-decoration: none;
}

a.onfocus:hover {
  color: rgb(51, 51, 51);
  text-decoration: underline;
}

.apps:hover,
.other:hover {
  background-color: rgb(204, 204, 204);
  /* background-size: 10px; */
  /* border: 3px solid rgb(204, 204, 204); */
  border-radius: 50% 50% 50% 50%;
}

a:visited {
  color: rgb(51, 51, 51);
}

.apps {
  display: block;
  /* Блочный элемент (для старых браузеров) */
  text-align: center;
  /* Выравнивание по центру */
  margin: auto;
  /* Отступ  */
}

.apps_submenu {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
  /* Поля вокруг текста */
  background: rgb(146, 255, 155);

  /* Фиксированное положение */
  right: 10px;
  /* Расстояние от правого края окна браузера */
  top: 55px;
  /* Расстояние сверху */
  position: absolute;

  /* display: none;
    background: #b19891; */

  /* width: 180px;
    visibility: hidden;
    background: #ADC0CE; */

  /* -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: #FFAB51; */
}

.apps_submenu-item {
  max-width: 50px;
  max-height: 50px;
  margin: 20px;
  padding-top: 20px;
  text-align: center;
}

/* 
nav a img {
    border-radius: 50%;
} */
