/* * {
    margin: 0;
    padding: 0;
} */

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Segoe UI", "Roboto", arial, sans-serif;
  overflow: scroll;
}

.menu {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: flex-end;
  align-items: center;

  /* Поля вокруг текста */

  position: fixed;
  /* Фиксированное положение */
  right: 8px;
  /* Расстояние от правого края окна браузера */
  top: 5px;
  /* Расстояние сверху */
  /* position: absolute; */
  font-size: 13px;
  text-decoration: none;
  padding: 10px;
}

.apps input {
  display: none;
}


nav img,
div {
  padding: 5px;
}

.onfocus:hover {
  color: rgb(51, 51, 51);
  text-decoration: underline;
  cursor: pointer;
}

.apps:hover,
.other:hover {
  background-image: url(/img/bg-grey.png);
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50% 50% 50% 50%;
}

.apps {
  display: block;
  /* Блочный элемент (для старых браузеров) */
  text-align: center;
  /* Выравнивание по центру */
}

.submenu {
  width: 240px;
  height: 300px;
  display: none;
  justify-content: center;
  flex-flow: wrap row;
  align-items: center;
  padding: 10px;
  /* Фиксированное положение */
  right: 10px;
  /* Расстояние от правого края окна браузера */
  top: 80px;
  /* Расстояние сверху */
  position: absolute;
  background-color: rgb(204, 204, 204);
  border-radius: 20px 20px 20px 20px;
}

input:checked~div.submenu {
  display: flex;
}

.submenu-item {
  max-width: 50px;
  max-height: 50px;
  margin: 20px;
  padding-top: 20px;
  text-align: center;
}